.container{
    background-color: white;
    padding: 20px;
    
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButton{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(134, 224, 134);
}


